.style1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: ultra-expanded;
    font-style: italic; 
    font-size: xx-large;
    color: blue;
    text-shadow: grey;
    text-align: center;
  }
  

  